#detail-cards{
    border: solid 2px black;
    max-width: 50rem;
    border-radius: 4px;
    text-align: center;
    display: flex;
    align-items: center;
}

#detail-cards .btn {
    background-color: #8e0d33;
    color: white;
    font-weight: 500;
}

#img-detail {
    max-width: 22rem;
    border: 3px solid black;
    margin-left: 16px;
}


.txt-aux{
    color: green;
    font-size: 1.1rem;
}

#btn-go-cart{
    width: 20rem;
}