.item-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

#main-cards{
    /* background-color: #8E0D33; */
    color: #8E0D33;
    border-radius: 10px;
    border: salmon;
}
#main-cards .btn{
    background-color: #8E0D33;
    color: white;
}
#main-cards:hover {
    scale: 105%;
    border: solid 1px black;
}
